@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  margin: 0;
  font-family: "Ubuntu";
}

.navbar {
  padding: 32px;
}

.toolbarbuttons {
  margin-left: auto;
}

.content {
  padding: 20px;
}

.home {
  padding: 20px;
  border: 0;
  margin: 50px;
  border-style: solid;
  border-radius: 1px;
  border-color: #548196;
  background-color: rgba(187, 203, 220, 0.2);
  box-shadow: 3px 3px 3px 3px rgb(33, 66, 104);
}



