@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color:  rgb(248, 248, 248);
}

.navbar {
  padding: 32px;
}

.toolbarbuttons {
  margin-left: auto;
}

.content {
  padding: 20px;
}

.home {
  padding: 20px;
  border: 1px;
  margin: 50px;
  border-style: solid;
  border-radius: 1px;
  border-color: #548196;
  background-color: rgba(54, 80, 107, 0.7);
}
/* 
.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon{
  color:brown !important;
} */

.MuiTableSortLabel-root{
  color:red;
}



